/* .hdr__logo {
  margin-right: 50px;
} */

/* .hdr__nav {
  display: flex;
  align-items: center;
  min-height: 60px;
} */

.menu {
  display: flex;
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

/* .button {
  display: inline-flex;
  width: 100px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 6px;
  border: 2px solid var(--accent-color);
  font-weight: 600;
  color: var(--accent-color);
  transition: 0.3s;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--dark-color);
} */

/* .banner__title {
  font-size: 56px;
  line-height: 80px;
  font-weight: 400;
} */

/* main */

/* .features__title {
  font-size: 48px;
  line-height: 72px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 40px;
}

.features {
  padding-top: 100px;
  padding-bottom: 100px;
} */

.features-list__title {
  font-size: 24px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

.features-list__item {
  flex-basis: calc(100% / 2 - 40px);
  margin-right: 40px;
  flex-grow: 0;
  margin-bottom: 50px;
  padding: 20px;
  transition: 0.3s;
}

/* .features-list__item:nth-child(2n) {
  margin-right: 0;
}

.features-list__item:nth-last-child(-n + 2) {
  margin-bottom: 0;
} */

.snap-list__item {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: 0.3s;
}

.snap-list__item:nth-child(2n + 1) .content {
  margin-left: 40px;
}

.snap-list__item:nth-child(2n) .content {
  margin-right: 40px;
}

/* .good-company {
  padding-top: 50px;
  padding-bottom: 100px;
  background-color: rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
} */

.gc__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gc__item {
  margin-right: 20px;
  margin-bottom: 20px;
  transition: 0.3s;
}

.gc__item:nth-child(4n) {
  margin-right: 0;
}
.gc__item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.gc__item:hover,
.gc__item:focus {
  transform: scale(2.2);
}
/* footer */
